<form action="<%= sessions_url%>" method="post">
  <%= auth_token %>
  <label>Username:
   <input type="text" name="user[username]"> </input>
  </label>
   <label>Password:
    <input type="text" name="user[password]"> </input>
  </label>
  <input type="submit" value="Go get it">
</form>